@charset "UTF-8";
body {
  margin: 0%;
  padding: 0%;
}

/* titre pagemenu: Shrikhand */
/* Texte font: Roboto */
body {
  font-family: "Roboto";
}

/* fin animation loader */
.loader {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ff79da;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* fin animation loader */
/* animation coeur */
.restaurant__card__coeur {
  background: linear-gradient(0deg, rgba(255, 121, 218, 0.924807423) 21%, #b060db 61%);
  -webkit-background-clip: text;
}

.fa-heart::before {
  transition: color 1s ease-out;
}

.fa-heart:hover::before {
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}

/* fin animation coeur */
/* animation menu déroulant */
.menu__card__plat {
  animation: pagemenu 0.8s ease-in-out;
}

@keyframes pagemenu {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* fin animation menu déroulant */
.reservation__bouton {
  padding: 15px 15px;
  border-radius: 100px;
  border: none;
  background: #9356dc;
  background: linear-gradient(353deg, #9356dc 0%, #ff79da 74%);
  color: white;
  font-weight: 555;
}

.commande__bouton {
  padding: 15px 15px;
  border-radius: 100px;
  border: none;
  background: #9356dc;
  background: linear-gradient(353deg, #9356dc 0%, #ff79da 74%);
  color: white;
  font-weight: 555;
}

header {
  display: flex;
}

.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  margin-top: 20px;
  width: 190px;
  height: 50px;
}

.restaurant__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 40px;
}

.restaurant__card {
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 16px;
  width: 335px;
  height: 100%;
  box-shadow: 3px 8px 4px #dedada;
  margin-left: 20px;
  margin-right: 20px;
}

.restaurant__card__img {
  height: 175px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

.restaurant__card__info {
  position: absolute;
  top: auto;
  margin-top: 0.7%;
  margin-left: -85px;
  padding: 5px;
  background-color: #99e2d0;
  color: #1b6150;
  font-weight: bold;
}

.restaurant__card__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.restaurant__card__text h3 {
  order: 1;
  width: 50%;
  justify-content: center;
  margin-left: 3%;
}
.restaurant__card__text p {
  order: 3;
  width: 50%;
  justify-content: center;
  margin-top: -10px;
  margin-left: 3%;
  font-weight: 300;
}

.restaurant__card__coeur {
  order: 2;
  padding-left: 110px;
  font-size: 25px;
}

.menu {
  background: #F6F6F6;
  padding-bottom: 2%;
}

.menu__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.menu__titre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  padding-top: 1%;
  border-radius: 1.5rem 1.5rem 0 0;
  background: #F6F6F6;
  position: relative;
  margin-top: -3%;
  font-family: "Shrikhand";
}

.menu--position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2%;
}

.menu__card__plat {
  border-radius: 1.5rem;
  background: white;
  margin-bottom: 5%;
  margin-top: 10%;
  box-shadow: 3px 6px 4px #dedada;
}

.menu__card__titre::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #99e2d0;
  position: absolute;
}

.menu__card__plat__text {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}
.menu__card__plat__text h3 {
  order: 3;
  width: 50%;
  justify-content: center;
}
.menu__card__plat__text p {
  order: 1;
  width: 50%;
  justify-content: center;
  margin-top: -5px;
  font-weight: 300;
}
.menu__card__plat__text span {
  order: 2;
  justify-content: center;
  padding-right: 20px;
  margin-top: -20px;
  font-weight: bold;
  color: #353535;
}

.commande__bouton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding-top: 20px;
  background: #353535;
  color: white;
}
footer i {
  margin-right: 10px;
}

.footer__logo {
  width: 190px;
  height: 50px;
  padding-bottom: 10px;
  margin-left: 10px;
  filter: invert(1);
}

.footer__lien {
  display: flex;
  padding-bottom: 10px;
  margin-left: 10px;
}

.reservation {
  text-align: center;
  background: #F6F6F6;
  padding-bottom: 30px;
}

.reservation__local {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  padding: 10px 10px;
  color: #353535;
  font-weight: 500;
}
.reservation__local span {
  margin-left: 0.5%;
}

.reservation__recherche__titre p {
  font-weight: 300;
  margin-bottom: 20px;
}

.fonctionnement h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.fonctionnement .fonctionnement__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1%;
}
.fonctionnement .fonctionnement__list__titre {
  font-weight: bold;
}
.fonctionnement .fonctionnement__list--1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: 25px;
}
.fonctionnement .fonctionnement__list--1 span {
  margin-left: -17%;
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.fonctionnement .fonctionnement__list--2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: 25px;
}
.fonctionnement .fonctionnement__list--2 span {
  margin-left: -17.5%;
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.fonctionnement .fonctionnement__list--3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: 25px;
}
.fonctionnement .fonctionnement__list--3 span {
  margin-left: -16.7%;
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.fonctionnement .fonctionnement__list--fas {
  color: #7e7e7e;
}

.fonctionnement__list--1:hover {
  background-color: #F5EDFF;
}

.fonctionnement__list--2:hover {
  background-color: #F5EDFF;
}

.fonctionnement__list--3:hover {
  background-color: #F5EDFF;
}

.restaurant {
  padding-bottom: 2%;
  background: #F6F6F6;
}
.restaurant h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
