body {
  margin: 0%;
  padding: 0%;
}

/* titre et logo font: Shrikhand */
/* Texte font: Roboto */
body {
  font-family: "Roboto";
}

.reservation__bouton {
  padding: 15px 15px;
  border-radius: 100px;
  border: none;
  background: #9356dc;
  background: linear-gradient(353deg, #9356dc 0%, #ff79da 74%);
  color: white;
  font-weight: 555;
}

header {
  display: flex;
}

.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  width: 190px;
  height: 50px;
}

.restaurant__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: inherit;
}

.restaurant__card {
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: 16px;
  width: 335px;
  height: 100%;
}

.restaurant__card__img {
  height: 175px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

.restaurant__card__info {
  position: absolute;
  top: auto;
  margin-top: 0.7%;
  margin-left: -85px;
  padding: 5px;
  background-color: #99e2d0;
  color: #1b6150;
  font-weight: bold;
}

.restaurant__card__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.restaurant__card__text h3 {
  order: 1;
  width: 50%;
  justify-content: center;
  margin-left: 3%;
}
.restaurant__card__text p {
  order: 3;
  width: 50%;
  justify-content: center;
  margin-top: -10px;
  margin-left: 3%;
}

.restaurant__card__coeur {
  order: 2;
  padding-left: 110px;
  font-size: 25px;
}

footer {
  padding-top: 1%;
  background: #353535;
  color: white;
}
footer i {
  margin-right: 10px;
}

.footer__logo {
  width: 190px;
  height: 50px;
  padding-bottom: 1%;
  margin-left: 10px;
  filter: invert(1);
}

.footer__lien {
  display: flex;
  padding-bottom: 10px;
  margin-left: 10px;
}

.reservation {
  text-align: center;
  background: #F6F6F6;
  padding-bottom: 2%;
}

.reservation__local {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  padding: 10px 10px;
  color: #353535;
  font-weight: 500;
}
.reservation__local span {
  margin-left: 0.5%;
}

.reservation__recherche__titre p {
  font-weight: 300;
  margin-bottom: 2%;
}

.fonctionnement h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.fonctionnement .fonctionnement__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1%;
}
.fonctionnement .fonctionnement__list__titre {
  font-weight: bold;
}
.fonctionnement .fonctionnement__list--1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #F6F6F6;
}
.fonctionnement .fonctionnement__list--1 span {
  margin-left: -14.5%;
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.fonctionnement .fonctionnement__list--2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #F6F6F6;
}
.fonctionnement .fonctionnement__list--2 span {
  margin-left: -14.5%;
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.fonctionnement .fonctionnement__list--3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #F5EDFF;
}
.fonctionnement .fonctionnement__list--3 span {
  margin-left: -14.5%;
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.fonctionnement .fonctionnement__list--3 .fonctionnement__list--3--fas {
  color: #9356DC;
}
.fonctionnement .fonctionnement__list--fas {
  color: #7e7e7e;
}

.restaurant {
  padding-bottom: 2%;
  background: #F6F6F6;
}
.restaurant h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  margin-bottom: 2%;
}

/*# sourceMappingURL=style.css.map */
