@import './Base/base';
@import './Base/typography';
@import './utils/variables';
@import './utils/mixins';
@import './components/buttons';
@import './Layout/header';
@import './page/card';
@import './Layout/container';
@import './Layout/footer';


.reservation{
    text-align: center;
    background:$couleur-box-gris;
    padding-bottom: 2%;
}

.reservation__local{
    @include flex-center();
    background: $couleur-box-gris-foncer;
    padding: 10px 10px;
    color: $couleur-box-noir;
    font-weight: 500;
    span {
        margin-left: 0.5%;
    }
    
}

.reservation__recherche__titre{
    p{
        font-weight: 300;
        margin-bottom: 2%;
    }
}

.fonctionnement {

    h2 {
        @include flex-center();
        margin-bottom: 2%;
    }
    .fonctionnement__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 1%;
    }

    .fonctionnement__list__titre {
        font-weight: bold;
    }
    .fonctionnement__list--1 {
        @include flex-space-between();
        @include fonctionnement-border();
        background-color: $couleur-box-gris;
        span {
            margin-left: -17%;
            background: $couleur-primaire;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            @include flex-center();
            color: white;
        }
    }
    .fonctionnement__list--2 {
        @include flex-space-between();
        @include fonctionnement-border();
        background-color: $couleur-box-gris;
        span {
            margin-left:-17.5%;
            background: $couleur-primaire;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            @include flex-center();
            color: white;
        }
    }
    .fonctionnement__list--3 {
        @include flex-space-between();
        @include fonctionnement-border();
        background-color: $couleur-box-gris;
        span {
            margin-left: -16.7%;
            background: $couleur-primaire;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            @include flex-center();
            color: white;
        }
    }
    .fonctionnement__list--fas {
        color: $couleur-icone;
    }
}

.fonctionnement__list--1:hover {
    background-color: #F5EDFF;
}
.fonctionnement__list--2:hover {
    background-color: #F5EDFF;
}
.fonctionnement__list--3:hover {
    background-color: #F5EDFF;
}


.restaurant {
    
    padding-bottom: 2%;
    background: $couleur-box-gris;
    
    h2 {
        @include flex-center();
        padding-top: 1%;
        margin-bottom: 2%;
    }
}