/* fin animation loader */

.loader {

    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background:hsla(0,0%,100%,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 3s forwards;
}

@keyframes loader {
  from{
    opacity: 1;
  }

  to{
    visibility: hidden;
  }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ff79da;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


/* fin animation loader */

/* coeur */

.fa-heart:hover{
  background: linear-gradient(0deg, rgba(255,121,218,0.9248074229691877) 21%, rgba(176,96,219,1) 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
/* fin coeur */

/* animation menu déroulant */

.menu__card__plat {
  opacity: 0;
  animation: pagemenu .8s both;
  &.delay-1 {
    animation-delay: 500ms;
  }
  &.delay-2 {
    animation-delay: 1000ms;
  }
  &.delay-3 {
    animation-delay: 1500ms;
  }
  &.delay-4 {
    animation-delay: 2000ms;
  }
}

@keyframes pagemenu {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
/* fin animation menu déroulant */

/* animation menu check */

.menu__card__plat:hover .menu__card__plat__prix {
  margin-right: 100px;
  transition: .5s ease-out;
}

.menu__card__plat:hover .menu__card__plat__check {
  transform: translateX(0px);
  transition: .5s ease-in-out;
}

.menu__card__plat:hover .fa-check-circle {
  animation: rotation .6s ease-in-out;
}


@keyframes rotation { 
  
  0% {
    transform: rotate(360deg);
  }
  
  
  100% { 
   transform:rotate(0deg); 
  } 

}

/* fin animation menu check */