$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-box-gris: #F6F6F6;
$couleur-box-gris-foncer: #EAEAEA;
$couleur-box-noir: #353535;
$couleur-icone: #7e7e7e;