.menu {
    background: #F6F6F6;
    padding-bottom: 25px;
}

.menu__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.menu__titre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    border-radius: 1.5rem 1.5rem 0 0;
    background:#F6F6F6;
    position: relative;
    margin-top: -3%;
    padding-left: 15px;
    font-family: 'Shrikhand';

}

.menu--position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.menu__card {
    width: 370px;
}

.menu__card__titre {
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 35px;
    h3 {
        font-weight: 300;
    }
}

.menu__card__titre::after {
    content: "";
    width: 48px;
    height: 4px;
    background-color: #99e2d0;
    position: absolute;
}

.menu__card__liste {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu__card__plat {
    background: white;
    height: 70px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 3px 6px 4px #dedada;
    position: relative;
    overflow: hidden;
    margin: 0 15px 15px 0;
}

.menu__card__plat__info {
    margin-top: -10px;
    max-width: 100%;
    display: flex;
    gap: 1rem;

    p {
    
    font-weight: 500;
    margin-top: -5px;
    color: #353535;

    }
}

.menu__card__plat__text {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding-left: 10px;
    overflow: hidden;
    width: 100%;
    transform-origin: left 50%;
    transition-duration: 0.5s;

    h3{
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p{
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.menu__card__plat__prix {
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    padding-right: 10px;

}

.menu__card__plat__check {
    position: absolute;
    background-color: #99E2D0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60px;
    transform-origin: right;
    border-radius: 0px 15px 15px 0px;
    transform: translateX(65px);

}

.fa-check-circle{
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 1.5rem;
    color: white;
}

.commande__bouton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

@media screen and (max-width: 420px){
    .menu--position {
        
        display: flex;
        flex-direction: column;
        max-width: 370px;
        margin-left: 1rem;
        margin-right: 1rem;
    
    }

    .menu__card {
        
        width: 100%;
    }
    
    }