footer {
    padding-top: 20px;
    background: $couleur-box-noir;
    color: white;

    i {
        margin-right: 10px;
    }
}

.footer__logo {
    width: 190px;
    margin-left: 10px;
    filter:invert(1);
}

nav {
    padding-bottom: 10px;
    margin-left: -30px;
    
    ul {
    
        list-style: none;
        
        li {
            margin-bottom: 10px;
        }
    }
}