header {
    display: flex;
}

.retour{
    font-size: 24px;
    position: absolute;
    left: 20px;
    top: 21px;
}

.header__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 20px;
    width: 190px;
}