.reservation__bouton {
    padding: 15px 15px;
    border-radius: 100px;
    border:none;
    background: rgb(147,86,220);
    background: linear-gradient(353deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 74%);
    color:white;
    font-weight: 555;
}